.not_found {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    flex-direction: column;
    background-color: white;
}

.not_found>img {
    margin-top: 50px;
}